<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Podaci o Pacijentu</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
  <h3 class="mb-4">Podaci o Pacijentu</h3>
  <div id="patientDetails" class="card p-4">
    <!-- Prikaz podataka o pacijentu -->
    <p><strong>Ime i prezime:</strong> <span th:text="${patient.name} + ' ' + ${patient.surname}"></span></p>
    <p><strong>Email:</strong> <span th:text="${patient.email}"></span></p>
    <p><strong>Telefon:</strong> <span th:text="${patient.number}"></span></p>
    <p><strong>Adresa:</strong> <span th:text="${patient.address}"></span></p>
    <p><strong>Grad:</strong> <span th:text="${patient.address}"></span></p>

    <!-- Prikaz zapisa o pacijentu -->
    <h4 class="mt-4">Zapisi</h4>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Datum i vrijeme</th>
        <th>Sistolički tlak</th>
        <th>Dijastolički tlak</th>
        <th>Otkucaji</th>
        <th>Opis</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="record, iterStat : ${patientRecords}">
        <td th:text="${iterStat.index + 1}"></td>
        <td th:text="${record.date}"></td>
        <td th:text="${record.sistolickiTlak}"></td>
        <td th:text="${record.dijastolickiTlak}"></td>
        <td th:text="${record.otkucaji}"></td>
        <td th:text="${record.opis}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

</body>
</html>
